*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;	
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: sans-serif;
}

form{
	padding: 1rem;
}

input::placeholder{
	color: red;
	opacity: 1;
	background: skyblue;
}
