body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.container {
	width: 300px;
	height: 300px;
	overflow: auto;
}

.container::-webkit-scrollbar {
	width: 20px;
	height: 20px;
	background: red;
}

.container::-webkit-scrollbar-track {
	background: green;
}

.container::-webkit-scrollbar-track-piece {
	background: orange;
}

.container::-webkit-scrollbar-button {
	background: blue;
}

.container::-webkit-scrollbar-thumb {
	background: yellow;
}

.container::-webkit-scrollbar-corner {
	display: block;
	background: purple;
}

.container::-webkit-scrollbar-thumb:vertical:hover {
	background: pink;
}

.container::-webkit-scrollbar-button:horizontal {
	background: darkseagreen;
}

.container::-webkit-scrollbar-button:start {
	background: deeppink;
}

.container::-webkit-scrollbar-track-piece:end {
	background: skyblue;
}

.container::-webkit-scrollbar-button:increment {
	background: black;
}

.container::-webkit-scrollbar-track-piece:decrement {
	background: white;
}

p {
	width: 400px;
}
