* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 200vh;
}

.container {
	width: 100%;
	height: 100vh;
	position: relative;
}

.mask {
	width: 100%;
	height: 100%;
	position: absolute;
	mask: linear-gradient(black 50%, transparent 50%);
}

h1 {
	position: fixed;
	top: 15%;
	left: 50%;
	color: black;
	font-family: sans-serif;
	font-size: 3rem;
	font-weight: 800;
	text-transform: uppercase;
	white-space: nowrap;
	text-shadow: 2px 2px 2px rgb(125 125 125 / 0.25);
	transform: translateX(-50%);
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
