body {
	margin-bottom: 1rem;
	font-size: 2em;
	font-family: sans-serif;
}

.primero {
	text-decoration: underline red solid 4%;
	
}

.segundo {
	text-decoration: overline blue double 8%;
}

.tercero {
	text-decoration: line-through orange dotted 12%;
}

.cuarto {
	text-decoration: underline green dashed 16%;
}

.quinto {
	text-decoration: overline purple wavy 20%;
}
