* {
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	background-image: 
		url(https://c4.wallpaperflare.com/wallpaper/703/370/473/tengen-toppa-gurren-lagann-anime-sky-fantasy-art-wallpaper-preview.jpg),
		linear-gradient(red,blue);
	/*background-color: green;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: screen;
}
