.grid {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 1rem;
}

.grid > div::before {
	content: attr(class);
	display: block;
	text-align: center;
}

img {
	width: 100%;
}

.grayscale img {
	filter: grayscale(100%);
}
